<div class="container" ng-controller="AddPlaceCtrl" ng-model="place">
  <sap id="map" class="col-xs-12" ng-model="place"></sap>
  
    <form role="form" name="addplace_form" class="form-inline">
        <!-- Form Name -->
        <legend>Add A Place</legend>
        <div class="well col-12">
            <div class="input-group col-xs-6 col-sm-5 col-sm-offset-1">
              <span class="glyphicon glyphicon-heart"></span>
              <label class="control-label" for="name">Name</label>
              <input id="name"
                     name="name"
                     type="text"
                     placeholder="Name of Place"
                     class="form-control"
                     ng-model="place.name"
                     ng-minlength="2"
                     ng-maxlength="128"
                     required
                     ng-focus>
              <div class="alert alert-danger"
                   ng-show="addplace_form.name.$dirty && addplace_form.name.$invalid && !addplace_form.name.$focused">
                <small class="error"
                       ng-show="addplace_form.name.$error.required">
                    Place name is required.
                </small>
                <small class="error"
                       ng-show="addplace_form.name.$error.minlength">
                    Place name is required to be at least 2 characters
                </small>
                <small class="error"
                       ng-show="addplace_form.name.$error.maxlength">
                    Place name cannot be longer than 128 characters
                </small>
              </div>
            </div>

            <div class="input-group col-xs-6 col-sm-5">
              <span class="glyphicon glyphicon-map-marker"></span>
              <label class="control-label" for="location">Location</label>
              <input id="location"
                     name="location"
                     type="text"
                     placeholder="Add a location"
                     class="form-control"
                     ng-model="place.location"
                     ng-minlength="2"
                     ng-maxlength="128"
                     required
                     ng-focus>
              <div class="alert alert-danger"
                   ng-show="addplace_form.location.$dirty && addplace_form.location.$invalid && !addplace_form.location.$focused">
                <small class="error"
                       ng-show="addplace_form.location.$error.required">
                    Location name is required.
                </small>
                <small class="error"
                       ng-show="addplace_form.location.$error.minlength">
                    Location name is required to be at least 2 characters
                </small>
                <small class="error"
                       ng-show="addplace_form.location.$error.maxlength">
                    Place name cannot be longer than 128 characters
                </small>
              </div>
            </div>

            <div class="category-group col-xs-12 col-sm-11 col-sm-offset-1">
              <span class="glyphicon glyphicon-tag"></span><label class="control-label"> Category</label><br>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-warning" ng-class="{'active': {{ category == place.category}}}" ng-repeat='category in categories' ng-click="activate(category)">
                  <input type="radio" id="{{category}}" ng-model="place.category" name="radio">{{category}}
                </label>
              </div>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <span class="glyphicon glyphicon-pencil"></span>
              <label class="control-label" for="description">Description</label>
              <textarea id="description"
                        name="description"
                        class="form-control"
                        rows="4"
                        placeholder="Add a description"
                        ng-model="place.description"
                        ng-minlength="2"
                        ng-maxlength="512"
                        required
                        ng-focus>
                        </textarea>
              <div class="alert alert-danger"
                   ng-show="addplace_form.description.$dirty && addplace_form.description.$invalid && !addplace_form.description.$focused">
                  <small class="error"
                         ng-show="addplace_form.description.$error.required">
                      Description is required.
                  </small>
                  <small class="error"
                         ng-show="addplace_form.description.$error.minlength">
                      Description is required to be at least 2 characters
                  </small>
                  <small class="error"
                         ng-show="addplace_form.description.$error.maxlength">
                      Description cannot be longer than 512 characters
                  </small>
                </div>
              </div>
            </div>

        <!-- Multiple Radios (inline) -->
        <div class="well col-12">
            <div class="input-group col-xs-6 col-sm-5 col-sm-offset-1">
                <label class="control-label" for="quietlevel">Quiet Level</label>
                <div class="">
                    <label class="radio-inline" for="quietlevel-0">
                        <input type="radio" name="quietlevel" id="quietlevel-0" ng-model="review.quietlevel" value="1">
                        1
                    </label>
                    <label class="radio-inline" for="quietlevel-1">
                        <input type="radio" name="quietlevel" id="quietlevel-1" ng-model="review.quietlevel" value="2">
                        2
                    </label>
                    <label class="radio-inline" for="quietlevel-2">
                        <input type="radio" name="quietlevel" id="quietlevel-2" ng-model="review.quietlevel" value="3">
                        3
                    </label>
                    <label class="radio-inline" for="quietlevel-3">
                        <input type="radio" name="quietlevel" id="quietlevel-3" ng-model="review.quietlevel" value="4">
                        4
                    </label>
                </div>
            </div>

            <div class="control-group col-xs-6  col-sm-5">
              <span class="glyphicon-group"></span>
              <img src="/public/img/glyphicons_group.png"/>
              <label class="control-label" for="crowd">Crowd</label>
              <div class="">
                <label class="radio-inline" for="crowd-0">
                  <input type="radio" name="crowd" id="crowd-0" ng-model="review.crowd" value="1" >
                    1
                </label>
                <label class="radio-inline" for="crowd-1">
                  <input type="radio" name="crowd" id="crowd-1" ng-model="review.crowd" value="2">
                    2
                </label>
                <label class="radio-inline" for="crowd-2">
                  <input type="radio" name="crowd" id="crowd-2" ng-model="review.crowd" value="3">
                    3
                </label>
                <label class="radio-inline" for="crowd-3">
                  <input type="radio" name="crowd" id="crowd-3" ng-model="review.crowd" value="4">
                    4
                </label>
              </div>
            </div>
            <div class="control-group tips-highlights-group col-xs-12 col-sm-10 col-sm-offset-1">
            <span class="glyphicon glyphicon-map-marker"></span>
            <label class="control-label" for="tips">Tips &amp; Highlights</label>
            <textarea id="tips"
                      name="tips"
                      rows="4"
                      class="form-control"
                      placeholder="Add some tips"
                      ng-model="review.tips"
                      ng-minlength="2"
                      ng-maxlength="512"
                      ng-focus
                      required></textarea>
            <div class="alert alert-danger"
                 ng-show="addplace_form.tips.$dirty && addplace_form.tips.$invalid && !addplace_form.tips.$focused">
              <small class="error"
                     ng-show="addplace_form.tips.$error.required">
                  Tip is required.
              </small>
              <small class="error"
                     ng-show="addplace_form.tips.$error.minlength">
                  Tip is required to be at least 2 characters
              </small>
              <small class="error"
                     ng-show="addplace_form.tips.$error.maxlength">
                  Tip cannot be longer than 512 characters
              </small>
            </div>

            <!-- Button -->
            <div class="control-group col-xs-12 col-sm-offset-3">
              <label class="control-label" for="addplace"></label>
              <div class="controls">
                <button id="addplace" name="addplace" class="btn btn-warning" ng-click="addPlace()" ng-disabled="addplace_form.$invalid">ADD {{ place.category }}</button>
              </div>
            </div>
          </div>
        </div>
    </form>
</div>

