<div class="add-place-form" ng-controller="AddPlaceCtrl" ng-model="place">
    <sap id="map" class="col-12" ng-model="place"></sap>
    <!--
    ToDo: Add form validation
    -->
    <form name="addplace" class="form-inline">
        <fieldset>

            <!-- Form Name -->
            <legend>Add A Place</legend>

            <!-- Text input-->
            <div class="well row">
                <div class="input-group col-lg-5 col-offset-1">
                    <span class="glyphicon glyphicon-heart"></span>
                    <label class="control-label" for="name">Name</label>
                    <input id="name" name="name" type="text" placeholder="Name of Place" class="form-control" ng-model="place.name" required>
                </div>

                <div class="input-group col-lg-5">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label class="control-label" for="location">Location</label>
                    <input id="location" name="location" type="text" placeholder="Add a location" class="form-control" ng-model="place.location" required>
                </div>

                <div class="category-group col-lg-8 col-offset-1">
                    <span class="glyphicon glyphicon-tag"></span><label class="control-label"> Category</label>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type='button' ng-class="{'active': {{ category == place.category}}}" class='btn btn-warning' ng-repeat='category in categories' ng-click='activate(category)' ng-model="place.category">{{category}}</button>
                    </div>
                </div>

                <div class=" col-lg-10 col-offset-1">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <label class="control-label" for="description">Description</label>
                    <textarea id="description" name="description" class="form-control" rows="4" placeholder="Add a description" ng-model="place.description"></textarea>
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="well row">
                <div class="input-group col-lg-5 col-offset-1">
                    <label class="control-label" for="quietlevel">Quiet Level</label>
                    <div class="">
                        <label class="radio-inline" for="quietlevel-0">
                            <input type="radio" name="quietlevel" id="quietlevel-0" ng-model="review.quietlevel" value="1">
                            1
                        </label>
                        <label class="radio-inline" for="quietlevel-1">
                            <input type="radio" name="quietlevel" id="quietlevel-1" ng-model="review.quietlevel" value="2">
                            2
                        </label>
                        <label class="radio-inline" for="quietlevel-2">
                            <input type="radio" name="quietlevel" id="quietlevel-2" ng-model="review.quietlevel" value="3">
                            3
                        </label>
                        <label class="radio-inline" for="quietlevel-3">
                            <input type="radio" name="quietlevel" id="quietlevel-3" ng-model="review.quietlevel" value="4">
                            4
                        </label>
                    </div>
                </div>

                <div class="control-group  col-lg-4">
                    <span class="glyphicon-group"></span>
                    <img src="/public/img/glyphicons_group.png"/>
                    <label class="control-label" for="crowd">Crowd</label>
                    <div class="">
                        <label class="radio-inline" for="crowd-0">
                            <input type="radio" name="crowd" id="crowd-0" ng-model="review.crowd" value="1" >
                            1
                        </label>
                        <label class="radio-inline" for="crowd-1">
                            <input type="radio" name="crowd" id="crowd-1" ng-model="review.crowd" value="2">
                            2
                        </label>
                        <label class="radio-inline" for="crowd-2">
                            <input type="radio" name="crowd" id="crowd-2" ng-model="review.crowd" value="3">
                            3
                        </label>
                        <label class="radio-inline" for="crowd-3">
                            <input type="radio" name="crowd" id="crowd-3" ng-model="review.crowd" value="4">
                            4
                        </label>
                    </div>
                </div>
                <div class="col-lg-2"></div>

                <div class="control-group tips-highlights-group col-lg-10 col-offset-1">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <label class="control-label" for="tips">Tips &amp; Highlights</label>
                    <textarea id="tips" name="tips" rows="4" class="form-control" placeholder="Add some tips" ng-model="review.tips"></textarea>
                </div>
                <div class="col-lg-2"></div>

                <!-- Button -->
                <div class="control-group col-lg-2 col-offset-3">
                    <label class="control-label" for="addplace"></label>
                    <div class="controls">
                        <button id="addplace" name="addplace" class="btn btn-warning" ng-click="addPlace()">ADD PLACE</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

</div>

