<div class="container" ng-controller="PlacesCtrl" class="add-place-form">
    <h1>{{ category }}S</h1>
    <div>
        <div class="pull-right addplace-btn" ng-show="authenticated">
            <a class="btn btn-warning" ng-click="addPlacePage()">
                    KNOW OF OTHER PLACES?
                    <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
        <div ng-repeat="place in places">
            <div class="well col-12">
                <div ng-click="getDetails(place)">
                    <p class="col-offset-3">{{ place.name }}</p>
                    <p class="col-offset-3">{{ place.description }}</p>
                    <p class="col-offset-3">{{ place.location }}</p>
                </div>
                <div class="col-xs-3">
                    <button id="btn" class="btn btn-default" ng-show="authenticated" ng-click="">
                        <span favorite-button class="glyphicon glyphicon-heart" ></span>
                    </button>
                </div>
                <p>
                    <div class="col-xs-3">{{place.geoData.distance | number}} mi</div>
                    <div class="col-xs-3">Crowd: {{place.crowdScore | number}}</div>
                    <div class="col-xs-3">Quiet Level: {{place.quietlevelScore | number}}</div>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>