<div class="container">
    <div ng-show="hasCategory">
        <img class="img-responsive place-img" src="/public/img/x2/image_parks@2x.png" ng-show="category == 'PARK'"/>
        <img class="img-responsive place-img" src="/public/img/x2/image_paths@2x.png" ng-show="category == 'PATH'"/>
        <img class="img-responsive place-img" src="/public/img/x2/image_view@2x.png" ng-show="category == 'VIEW'"/>
        <img class="img-responsive place-img" src="/public/img/x2/image_solitude@2x.png" ng-show="category == 'SOLITUDE'"/>
        <div class="pull-right addplace-btn" ng-show="authenticated">
            <a class="btn btn-warning" ng-click="addPlacePage()">
                    KNOW OF OTHER PLACES?
                    <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>
    </div>
    <div class="add-place-form" ng-repeat="place in places">
        <div place-div ng-model="place"></div>
    <!--    <div ng-repeat="place in places">
            <div class="well col-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <img src="http://placehold.it/100x100" alt="..." class="img-circle img-responsive">
                    </div>
                    <div class="col-xs-9" ng-click="getDetails(place)">
                        <p>{{ place.name }}</p>
                        <p>{{ place.description }}</p>
                        <p>{{ place.location }}</p>
                    </div>
                </div>
                <div class="row">
                    <p>
                    <div class="col-xs-3" ng-show="authenticated">
                        <button favorite-button place-id="place._id" class="btn btn-default" ng-click="favorite()">
                            <span class="glyphicon glyphicon-heart" ></span>
                        </button>
                    </div>
                    <div class="col-xs-1" ng-hide="authenticated"></div>
                    <div class="col-xs-3">{{place.geoData.distance | number}} mi</div>
                    <div class="col-xs-3">Crowd: {{place.crowdScore | number}}</div>
                    <div class="col-xs-3">Quiet Level: {{place.quietlevelScore | number}}</div>
                </p>
                </div>
            </div>
        </div> -->
    </div>
</div>