<div class="header row" ng-controller="MainCtrl">
    <ul class="nav nav-pills pull-right col-xs-5">
        <li><div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Escape to:<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" data-width="auto">
                <li><a href="#" ng-click="setCategory('VIEW');">Views</a></li>
                <li><a href="#" ng-click="setCategory('PARK');">Parks</a></li>
                <li><a href="#" ng-click="setCategory('PATH');">Paths</a></li>
                <li><a href="#" ng-click="setCategory('SOLITUDE');">Solitude</a></li>
            </ul>
        </div></li>
        <li>
            <button ng-hide="authenticated" type="button" class="btn btn-default" ng-click="logInPage()">
                Log In
            </button>
            <button ng-hide="authenticated" type="button" class="btn btn-default" ng-click="signUpPage()">
                Sign Up
            </button>
            <button ng-show="authenticated" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ user.profile.username }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/profile">Profile</a></li>
                <li><a href="#/favorites">Favorites</a></li>
                <li><a href="#" ng-click="logOut()">Log Out</a></li>
            </ul>
        </li>
    </ul>
    <img class="img-responsive col-xs-7" src="/public/img/x2/main_logo@2x.png">
</div>